.content {
  width: 1440px;
  height: 352px;
  padding: 80px 160px 80px 160px;
  gap: 32px;
  background-color: #FAFAFA;
}

.content__box {
  display: flex;
  width: 1120px;
  height: 22px;
  justify-content: space-between;

}

.box_category {
  width: 1120px;
  height: 128px;
  gap: 32px;
  display: flex;
  margin-top: 30px;;

}

.box_category > div {
  width: 160px;
  height: 128px;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  gap: 8px;
  background-color: #EDEDED;
}

